.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Arial, Helvetica, sans-serif, sans-seriff;
    background-color: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
}